@model ToWatch.ViewModels.LoginViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
    <link href="~/css/auth.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <form asp-controller="Auth" asp-action="Login" class="form-signin">
            <h2 class="form-signin-heading">Please Login:</h2>
            <div class="text text-danger" asp-validation-summary="ModelOnly"></div>

            <label asp-for="Email" class="sr-only"></label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required autofocus>
            <span class="text text-danger" asp-validation-for="Email"></span>

            <label asp-for="Password" class="sr-only"></label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
            <span class="text text-danger" asp-validation-for="Password"></span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
