<div class="tabs-container panel panel-default ">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a ng-href="/">Comming Soon</a></li>
        <li role="presentation"><a>Last Movies</a></li>
        <li role="presentation"><a ng-href="/toprated">Top Rated</a></li>
    </ul>
    <div class="panel-body">
        <div class="tab-content">
            <div class="well well-lg" ng-repeat="movie in upcommingMovies">
                <h3>{{movie.title}}</h3>
            </div>
        </div>
    </div>
</div>