@{
    ViewBag.Title = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="starter-template">

    <h1>Bootstrap starter template</h1>
    <p class="lead">
        Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.
    </p>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
