@{
    ViewBag.Title = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content" ng-app="main">
    <h1>Let's find something To Watch!</h1>
    <div class="main-search row">
        <div class="col-lg-12">
            <div class="input-group input-group-lg">
                <span class="input-group-btn">
                    <button class="btn btn-default search-button" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        </div>
    </div>
    <div class="movies-containter">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a ng-href="/">Comming Soon</a></li>
            <li role="presentation"><a>Last Movies</a></li>
            <li role="presentation"><a ng-href="/toprated">Top Rated</a></li>
        </ul>
        <div ng-view></div>
    </div>
</div>

<div class="row" ng-app="to-watch">
    <div ng-view></div>
</div>

@section scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/js/customControls.js"></script>
    <script src="~/js/to-watch.js"></script>
    <script src="~/js/moviesController.js"></script>
    <script src="~/js/searchMovieController.js"></script>
}


