@{
    ViewBag.Title = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content" ng-app="main">
    <div class="main-search row">
        <div class="col-lg-10 col-md-offset-1">
            <h1>Let's find something To Watch!</h1>
            <div class="input-group input-group-lg">
                <span class="input-group-btn">
                    <button class="btn btn-default search-button" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a ng-href="/">Comming Soon</a></li>
            <li role="presentation"><a ng-href="/popular">Popular</a></li>
            <li role="presentation"><a ng-href="/toprated">Top Rated</a></li>
        </ul>
        <div class="col-md-12" ng-view></div>
    </div>
</div>

@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/angularBase/app.js"></script>
    <script src="~/angularBase/controllers/topRatedCtrl.js"></script>
    <script src="~/angularBase/controllers/upcommingCtrl.js"></script>
    <script src="~/angularBase/controllers/popularCtrl.js"></script>
}



